:root {
  /* main colors */
  --color-primary-dark: #410675;
  --color-primary-medium: #4b0785;
  --color-primary-default: #58089d;
  --color-primary-light: #ac83ce;
  --color-primary-lighter: #d5c1e6;
  --color-primary-lightest: #eee7f5;

  /* feedback */
  --color-success: #3cc13b;
  --color-error: #f03738;

  /* shades */
  --black-default: #000;
  --black-light: rgba(0, 0, 0, .5);
  --black-lighter: rgba(0, 0, 0, .25);
  --black-lightest: rgba(0, 0, 0, .1);
  --black-extra-light: rgba(0, 0, 0, .05);
  --white-default: #fff;
  --white-light: rgba(255, 255, 255, .7);

  /* typography */
  --color-text: var(--black-default);
  --color-text-heading: var(--black-default);
  --color-text-subtle: var(--black-light);
  --color-link: var(--primary-default);
  --color-link-visited: var(--primary-medium);

  /* border */
  --color-border: var(--black-lightest);

  /* body */
  --color-body: var(--white-default);

  /* forms */
  --form-element-border: var(--color-border);
  --form-element-border-focus: var(--color-primary-default);
  --form-element-border-error: var(--color-error);
  --form-element-bg: var(--white-default);
  --form-element-radius: .5em;

  /* buttons */
  --btn-primary-bg: var(--color-primary-default);
  --btn-primary-hover: var(--color-primary-medium);
  --btn-primary-active: var(--color-primary-dark);
  --btn-primary-label: var(--white-default);

  --btn-disabled-bg: var(--black-lighter);
  --btn-disabled-label: var(--white-default);
}
