@font-face {
  font-family: "Geomanist-Book";
  src: url("./fonts/Geomanist-Book.otf");
}

@font-face {
  font-family: "Geomanist-Medium";
  src: url("./fonts/Geomanist-Medium.otf");
}

@font-face {
  font-family: "Geomanist-Regular";
  src: url("./fonts/Geomanist-Regular.otf");
}
