/**
 Flex-grid
 */
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--grid-gap) * -1) 0 0 calc(var(--grid-gap) * -1);
}
.col {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  flex-basis: 100%;
}

/**
 Two-dimensional grid
 */
.grid {
  @include grid;
  // grid-auto-rows: 120px;
  @media only screen and (min-width: 850px) {
    @include gridLayout(
      (7, 2),
      (5, 1),
      (5, 1),
      (12)
    );
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.page {
  max-width: 120rem;
  flex-grow: 1;
  margin: var(--space-xxl) 10vw;
}
